* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: lightblue;
  --input-bg-color: aliceblue;
  --font-general-type: open sansSerif;
  --buttonSubmit-bg-color: rgba(185, 8, 8, 0.872);
}

.Brooklyn {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 30px auto;
  border-radius: 10px;
  padding: 10px;
  font-family: var(--font-general-type);
  background-color: rgb(234, 234, 234);
}

.titreBrooklyn {
  display: flex;
  justify-content: center;
  font-size: 1em;
}

.containerimageBrooklyn {
  display: flex;
  justify-content: center;
  
}

.imageBrooklyn {
  width: 50vw;
  height: 60vw;
}

.titreVolonteers {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
}

.select {
  display: flex;
  justify-content: center;
  width: 150px;
  margin: 30px auto;
  background-color:#E29551;
  color: var(--input-bg-color);
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top : 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.select:hover{
  cursor: pointer;
}

@media screen and (min-width:700px) {
  .Brooklyn {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin: 30px auto;
    border-radius: 10px;
    padding: 10px;
    font-family: var(--font-general-type);
    background-color: rgb(234, 234, 234);
  }

  .imageBrooklyn {
    width: 40vw;
    height: 30vw;
  }
  
}