* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.displayUser{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.usersPaper {
  display: flex;
  flex-direction: column;

  align-items: center;

}

.usersWrite {
  width: 100%;
  font-size: 1em;
}
